{% extends "main/base.html" %}
{% block content %}
{% for i in data1 %}
<div style="margin-top: 3%;margin-left: 35%;">
<img src="{{i.profile.url}}" height="200px" width="200px" style="border-radius: 100px;margin-left: 14%;">
<br><br>

<br>
<br>

  <a href="#" class="list-group-item" style="width: 600px;"><h4>Username: {{f}}</h4></a>
   <a href="#" class="list-group-item" style="width: 600px;"><h5>Email: {{i.SorT}}</h5></a>
   <a href="#" class="list-group-item" style="width: 600px;"><h5>Email: {{i.email}}</h5></a>
   <a href="#" class="list-group-item" style="width: 600px;"><h5>Gender: {{i.Gender}}</h5></a>
</div>
</div>
{% endfor %}

<!--------------------------------POSTS -------------------------->

<h2 style="margin-left: 38%;margin-top: 10px;">Posts:</h2>

{% for i in data2 %}
	<div class="card" style="width: 25rem; margin-left: 38%;margin-top: 20px;">
  <div class="card-header">
		  <img src="{{user.info.profile.url}}" height="50px" width="50px" style="border-radius: 20px;">
		  	<h3><b>{{user}}</h3></p>
			  <img src="{{i.pic.url}}" class="card-img-top">
			  <div class="card-body">
			    <p class="card-text">{{i.text}}</p>
			    <small>{{i.datetime}}</small>
  		</div>
	</div>
</div>
{% endfor %}

{% endblock %}